html,
body {
  overflow: hidden;
  margin: 0;
}

body {
  position: relative;
  display: initial;
}

canvas {
  touch-action: none;
}

body::-webkit-scrollbar,
.board-wrapper::-webkit-scrollbar {
  display: none;
}

.mainMenuContainer {
  background-image: url('../img/background1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.mainMenuTitle {
  font-size: 10rem;
}

.mainMenuButton {
  font-size: 10rem;
  border-radius: 10rem;
  width: 40rem;
  padding: 1rem;
}

html {
  font-family: 'Archivo';
  font-size: 62.5%;

  @media only screen and (min-width: 1800px) {
    font-size: 75%;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 37.5%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 35%;
  }

  @media only screen and (max-width: 350px) {
    font-size: 32%;
  }
}