@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

html, body {
  overflow: hidden;
}

body {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Heebo';
}

body::-webkit-scrollbar,
.board-wrapper::-webkit-scrollbar {
  display: none;
}

.score {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: row;
}

.scoreText {
  padding-left: 1rem;
  margin: 0px;
  color: #000;
  font-size: 1.5rem;
}

.titleText {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
}